# W7-X ATCA W7X_INTLCK_FP Diamagnetic Interlock System Acquisition and processing Parameters

#Aquisition Parameters :

pulse_number = 7

#Acquisition Time, should be integer
acq_seconds = 10;

#ATCA device name
atca_dev_name="/dev/atca_ioc_ilck14"
 
#output raw data file folder name
folder_name = "data";

#ACQ output files
raw_filename = "rawdata.bin";
chop_filename = "chopdata.bin";

#Hardware Trigger is always enabled. Software trigger enable here
soft_trigger = true; #false;

adc_num_channels = 6;

## July 2015 Isttok
#       eo_offsets= [-367, -352, -780, -367, -220, -666];
#       wo_offsets= [-0.204940, -0.165677, -0.180357, -0.160774, -0.194346, -0.1127
# Mars 2017 IPP-HGW
# open modules
#eo_offsets= [ -74, -159, -183, -178, -207, -62];
#wo_offsets= [ 2.110734, -0.650049, 0.481016, 1.939070, 1.776386, 1.947918];
# f 500 kHz
# wo_offsets= [ -359.653412, -359.759857, -359.390106, -359.446899, 1.766207, 1.933318];
# Capacito couples 1.8 Hz
#  wo_offsets= [ -359.653412, -359.759857, -359.390106, -359.446899, 1.766207, 1.933318];
adc_modules = {
       eo_offsets= [ -74, -159, -183, -178, -208, -62];
# float numbers
       wo_offsets= [ -250.0, -300.0 , -325.0, -350.0, 0.0 , 0.0];
        };

dsp_processing = {
# float numbers
#  dsp_coeff.f=7.0e-5; // To get DAC out with Vinput 100Hz 10V
  	chann_coeff= [7.0e-5, 0.0, -1.4e-4, 0.0, 0.0, 0.0];
	adder_coeff = 50000.0; #0.317;
  };


#Parameters for offline calculation of integrals and EO/WO estimation 
#   (with zero signal/short-circuit signal acquistion)

#Integral Calculatio Float output file
integral_filename = "calcInt.bin";

# 
skip_N_namples = 0; #0 sec
read_N_samples = 2000000; #//1 sec

